.App {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgba(233, 232, 236, 0.822);
}

a {
  line-height: 1em;
  margin: 10px;
}

.policyCard {
  border: 1px solid white;
}

body {background-color: black;}